@media screen and (max-width:991px){
    .gap{
        gap: 2px;
    }
    .texto-inicio{
        margin-top: 2px;
    }
    .paddingLeft{
        padding-left: 0;
    }
}

@media screen and (max-width:767px){
    .imagenInicio{
        padding-top: 35px;
    }
    .texto-inicio{
        margin-top: 5px;
    }
}
