#index{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 92vh 10%;
    grid-template-areas:"encabezado"
                        "contenido"
                        "footer";
}

.header{
    background-color: $secundario;
    grid-area: encabezado;
}

.contenido{
    background-color: $principal;
    grid-area: contenido;
}

.footer{
    color: white;
    background-color: $secundario;
    grid-area: footer;
}